.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.yarn/**
coverage/**
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.npmignore
.prettierignore
.prettierrc.json
.jscpd.json
.markdownlint.yml
.yaml-lint.yml
.dependency-cruiser.cjs
.nvmrc
.editorconfig
.github/**
.devcontainer/**
scripts/**
tsconfig.test-suite.json
tsconfig.test.json
eslint.config.mjs
ARCHITECTURE.md
CHANGELOG.md
CONTRIBUTING.md
badges/**
!badges/coverage.svg
